<div class="w-[50vw] rounded-lg shadow-lg p-10 border-[2px] border-gray-100 space-y-4 mx-auto mb-[20px]">
    <div class="flex justify-between items-center">
        <p class="text-gray-500 text-sm">Created: <span class="font-medium">{{ createdAt }}</span></p>
        <p class="text-gray-500 text-sm">By: <span class="font-medium">{{ name }}</span></p>
    </div>
    
    <p class="text-green-500 text-left text-sm">Status: <span class="font-medium">{{ status }}</span></p>

    <div class="block text-left">
        <p class="text-lg font-bold inline-block text-gray-800">Title:</p>
        <p class="text-lg ml-5 font-semibold inline-block text-gray-900">{{ title }}</p>
    </div>
    
    <div class="text-left">
        <p class="text-lg font-bold text-gray-800 mb-2">Content</p>
        <div class="bg-gray-100 p-4 rounded-md text-gray-700">
        {{ content }}
        </div>
    </div>

    <form [formGroup]="postForm"  (ngSubmit)="onSubmit()"> 
        <div class="flex justify-between">
            <button type="submit" 
                class="bg-[#48cae4] hover:bg-[#2c606b] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                name="action">
                Publish Post
            </button>
        </div>
    </form>
</div>